:root {
  --primary: #a5c882;
  --secondary: #d33f49;
  --light: #fff;
  --dark: #000;
  --diabled: #e7e7e7;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: var(--diabled);
}

.roundBorder {
  border-radius: 5px;
}

.flex-box {
  margin: 25px auto;
  padding: 15px;
  background-color: var(--light);
  width: 100%;
}

input,
select {
  border: none;
  padding-left: 10px;
  background-color: var(--diabled);
  color: #757587;
  border-radius: 5px;
}

#mayor:hover{
  background-color: #d33f49;
}

.addTaskForm,
.orderTaskButton,
.deleteTaskButton {
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 5px;
  color: white;
}

.addTaskForm:hover,
.orderTaskButton:hover,
.deleteTaskButton:hover {
  background-color: darkgrey;
  color: var(--dark);
} 

.flex-container {
  margin: 25px auto;
  width: 100%;
  
}

.flex-item {
  margin: 25px auto;
  background-color: var(--light);
  padding: 15px;
  width: 100%;
}