:root {
  --primary: #a5c882;
  --secondary: #d33f49;
  --light: #fff;
  --dark: #000;
  --diabled: #e7e7e7;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: var(--diabled);
}

.roundBorder {
  border-radius: 5px;
}

.list {
  margin: 25px auto;
  padding: 25px;
  background-color: var(--light);
  width: 100%;
}

form {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto 35px auto;
  grid-column-gap: 15px;
}

.nombreTarea,
.descripcionTarea {
  font-family: "Lato", sans-serif;
  background-color: var(--diabled);
  color: black;
  border: none;
  padding: 15px;
}

.listTask {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  border-collapse: collapse;
}

.dropbtn {
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  background-color: var(--diabled);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--secondary);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#item-uno a:hover {
  background-color: lightgreen;
}

#item-dos a:hover {
  background-color: lightsalmon;
}

#item-tres a:hover {
  background-color: lightcoral;
}

.addTask {
  font-size: 18px;
  background-color: var(--diabled);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.addTask:hover {
  background-color: var(--secondary);
}

.addTaskButton,
.orderButton,
.vaciarButton {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.addTaskButton {
  height: 35px;
  border-radius: 50%;
  font-size: 18px;
  background-color: var(--diabled);
}

.addTaskButton:hover {
  background-color: #d33f49;
  color: var(--diabled);
}

.vaciarButton,
.orderButton {
  background-color: var(--secondary);
  color: var(--light);
}

.vaciarButton:hover,
.orderButton:hover {
  background-color: var(--diabled);
  color: black;
}

.flex-container {
  display: flex;
  width: 400px;
  height: 250px;
  align-items: flex-end;
}

.flex-item {
  width: 100%;
  height: 100%;
  margin: 10%;
}

.task {
  background-color: var(--primary);
  padding: 15px;
  margin-top: 15px;
  color: var(--light);
  cursor: pointer;
}

.done {
  background-color: var(--diabled);
  text-decoration: line-through;
  color: var(--dark);
}
